@model SistemaPerfiladoCriminal.Models.Victima

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Está seguro que desea eliminar este elemento?</h3>
<div>
    <h4>Víctima</h4>
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Foto</label>
            <div class="col-md-10">
                <div class="victima-image-div">
                    @{
                        if (Model.LstrFotoURL != null)
                        {
                            var base64 = Convert.ToBase64String(Model.LstrFotoURL);
                            var imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                            <img src=@imgsrc class="foto-image rounded-circle img-fluid" alt="">
                        }
                        else
                        {
                            <img src=~/Content/Img/desconocido.png class="foto-image rounded-circle img-fluid" alt="">
                        }
                    }
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nombre</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.LstrNombre)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Alias</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.LstrAlias)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Cédula</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.LstrCedula)
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" />
        </div>
    }
</div>
