@model SistemaPerfiladoCriminal.Models.DetallesAutor

@{
<<<<<<< HEAD
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
=======
<<<<<<< HEAD
    ViewBag.Title = "Delete";
>>>>>>> 99d5c7cd2acf50cfeb98f9b40b5e7f2f41596d3d
}

<h2>Eliminar</h2>

<h3>¿Está seguro que desea eliminar este elemento?</h3>
<div>
    <h4>Detalles de autor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
<<<<<<< HEAD
            <label>Detalle</label>
=======
            @Html.DisplayNameFor(model => model.LstrDetalle)
=======
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Está seguro que desea eliminar este elemento?</h3>
<div>
    <h4>Detalles de autor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Detalle</label>
>>>>>>> 5778c7425840c6f79de49cd3cd2a7f97a9bca9b3
>>>>>>> 99d5c7cd2acf50cfeb98f9b40b5e7f2f41596d3d
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LstrDetalle)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
<<<<<<< HEAD
            <input type="submit" value="Eliminar" class="btn btn-default" />
=======
<<<<<<< HEAD
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
=======
            <input type="submit" value="Eliminar" class="btn btn-default" />
>>>>>>> 5778c7425840c6f79de49cd3cd2a7f97a9bca9b3
>>>>>>> 99d5c7cd2acf50cfeb98f9b40b5e7f2f41596d3d
        </div>
    }
</div>
