body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

<<<<<<< HEAD
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

=======
>>>>>>> 5778c7425840c6f79de49cd3cd2a7f97a9bca9b3
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

<<<<<<< HEAD

=======
>>>>>>> 5778c7425840c6f79de49cd3cd2a7f97a9bca9b3
.center {
    text-align: center;
}

.top-margin {
    margin-top: 5em;
}

.left-margin {
    margin-left: 5em;
}

.center-input {
    margin-right: auto;
    margin-left: auto;
}

.victima-image-div {
    width: 10em;
    height: 10em;
}

.foto-image {
    width: 100%;
    height: auto;
}