
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center">
    <h1>Registro</h1>

    <form>
        <div class="form-group top-margin">
            <label for="name">Ingrese su nombre</label>
            <input type="text" class="form-control center-input" id="name" placeholder="Ingrese su nombre">
        </div>

        <div class="form-group">
            <label for="username">Ingrese su usuario</label>
            <input type="text" class="form-control center-input" id="username" placeholder="Ingrese su usuario">
        </div>

        <div class="form-group">
            <label for="pwd">Ingrese su contraseña</label>
            <input type="password" class="form-control center-input" id="pwd" placeholder="Ingrese su contraseña">
        </div>

        <div class="form-group">
            <label for="repeat">Repita su contraseña</label>
            <input type="password" class="form-control center-input" id="repeat" placeholder="Repita su contraseña">
        </div>

        <button type="submit" class="btn btn-info">Registrar</button>
    </form>
</div>