@model SistemaPerfiladoCriminal.Models.CaracteristicasReconstruccion

@{
<<<<<<< HEAD
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CaracteristicasReconstruccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LstrDetalle)
=======
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Está seguro que desea eliminar este elemento?</h3>
<div>
    <h4>Características de reconstrucción</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Característica
>>>>>>> 5778c7425840c6f79de49cd3cd2a7f97a9bca9b3
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LstrDetalle)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
<<<<<<< HEAD
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
=======
            <input type="submit" value="Eliminar" class="btn btn-default" />
>>>>>>> 5778c7425840c6f79de49cd3cd2a7f97a9bca9b3
        </div>
    }
</div>
