<<<<<<< HEAD
﻿@{
    ViewBag.Title = "Perfilado Criminal";
}

<div class="jumbotron">
=======
﻿<div class="jumbotron">
>>>>>>> 5778c7425840c6f79de49cd3cd2a7f97a9bca9b3
    <h3 class="center">Herramienta policial que permite sistematizar y analizar la información de variables en la investigación criminal de casos complejos con autor desconocido</h3>
</div>
<div class="row">
    <div class="center top-margin">
        <p>El sistema permite al O.I.J gestionar indicios e identificar patrones en los crímenes seriales y violentos</p>
    </div>

    <div class="col-md-12 center top-margin">
<<<<<<< HEAD
        <a>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-info" })</a>
        <a>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-info" })</a>
=======
        <a href="~/Ingresar" class="btn btn-info">Iniciar sesión</a>
        <a href="~/Registro" class="btn btn-info left-margin">Registrarse</a>
>>>>>>> 5778c7425840c6f79de49cd3cd2a7f97a9bca9b3
    </div>
</div>